In [3]:
# Importamos librería
import mysql.connector

# Importamos la librería para los errores
from mysql.connector import errorcode

try:
    cnx = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1')
   
# en el caso de que haya errores
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    cnx.close()

In [4]:
# creamos nuestra bbdd


cnx = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1')
my_cursor = cnx.cursor()
try: 
    my_cursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(my_cursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
else: 
    cnx.close()

MySQLCursor: CREATE DATABASE mi_primerita_BBDD_Python

Creamos una función que nos sirva para crear tablas independientemente del contenido de la tabla. 
La función recibirá como parámetros:
-Contraseña de la conexión al servidor.
-Query para crear la tabla.

In [5]:
def creacion_tabla (contraseña,query):
    cnx = mysql.connector.connect(user = 'root', password = contraseña, host = '127.0.0.1', database = "mi_primerita_BBDD_Python")
    my_cursor = cnx.cursor()
    try:
        my_cursor.execute(query)
        print(my_cursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    else: 
        cnx.close()
    print ("la tabla ha sido creada")

In [6]:
query_zapatillas = """CREATE TABLE zapatillas (
                        idZapatillas INT NOT NULL AUTO_INCREMENT, Modelo VARCHAR(45) NOT NULL, Color VARCHAR(45) NOT NULL, Talla INT NOT NULL, 
                        PRIMARY KEY (idZapatillas)) """

In [7]:
contraseña = "AlumnaAdalab"

In [8]:
creacion_tabla(contraseña,query_zapatillas)

MySQLCursor: CREATE TABLE zapatillas (
              ..
la tabla ha sido creada

In [24]:
query_clientes = """CREATE TABLE clientes (
                    idCliente INT NOT NULL AUTO_INCREMENT, Nombre VARCHAR(45) NOT NULL, Numero_telefono INT(9) NOT NULL, Email VARCHAR(45) NOT NULL, 
                    Direccion VARCHAR(45) NOT NULL, Ciudad VARCHAR(45) NOT NULL, Provincia VARCHAR(45) NOT NULL, Pais VARCHAR(45) NOT NULL, Codigo_postal INT(9) NOT NULL,
                    PRIMARY KEY (idCliente))"""

In [25]:
creacion_tabla(contraseña,query_clientes)

MySQLCursor: CREATE TABLE clientes (
                ..
la tabla ha sido creada

In [28]:
query_empleados = """CREATE TABLE Empleados(
                    idEmpleado INT NOT NULL AUTO_INCREMENT, Nombre VARCHAR(45) NOT NULL, Tienda VARCHAR(45) NOT NULL, salario FLOAT, fecha_incorporacion DATE NOT NULL,
                    PRIMARY KEY (idEmpleado)) """

In [29]:
creacion_tabla(contraseña,query_empleados)

MySQLCursor: CREATE TABLE Empleados(
                ..
la tabla ha sido creada

Vamos a haer una correcion, por un problema con el enunciado

In [19]:
cnx = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1',database = "mi_primerita_BBDD_Python")
my_cursor = cnx.cursor()
try: 
    my_cursor.execute("DROP TABLE clientes")
    cnx.commit()
    print("tabla eliminada")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
else: 
    my_cursor.close()
    cnx.close()

tabla eliminada

Tabla Facturas: tiene 5 columnas idFactura, idEmpleado, idCliente, fecha, total con las siguientes características:
idFactura: es una clave primaria de tipo int, autoincremental y no nula.
idEmpleado: es una clave foránea de tipo int, no nula.
idCliente: es una clave foránea de tipo int, no nula.
idZapatilla: es una clave foránea de tipo int, no nula
Fecha: es una columna de tipo date, no nula.
Total: es decimal, no nula.

In [31]:
query_Facturas = """CREATE TABLE Facturas (idFactura INT AUTO_INCREMENT NOT NULL, idEmpleado INT NOT NULL, idCliente INT, NOT NULL, idZapatilla INT NOT NULL, Fecha DATE NOT NULL,
                    Total FLOAT NOT NULL,  PRIMARY KEY (idFactura), CONSTRAINT FK_empleados_Facturas FOREIGN KEY (idEmpleado) reference Empleados (idEmpleados) ON DELETE CASCADE ON UPDATE CASCADE, CONSTRAINT FK_clientes_Facturas FOREIGN KEY (idCliente) reference Clientess (idCliente) ON DELETE CASCADE ON UPDATE CASCADE,
                    CONSTRAINT FK_zapatillas_Facturas FOREIGN KEY (idZapatilla) reference Zapatillas (idZapatilla) ON DELETE CASCADE ON UPDATE CASCADE)"""