Pair programming

Es el momento de dejar de usar la interface de Workbench y empezar a usar SQL desde Python!

Primero hacemos la conexión a la base de datos

In [4]:
# Importamos librería
import mysql.connector

# Importamos la librería para los errores
from mysql.connector import errorcode

try:
    cnx = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1', 
                                  database = 'northwind')
# en el caso de que haya errores
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    cnx.close()

Objetivos

1. Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [6]:
# conexión con el servidor
mydb = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1', 
                              database = 'northwind')

# comunicación con el servidor
mycursor = mydb.cursor()

# ejecutamos la query para ver las tablas de la base de datos
mycursor.execute("SHOW DATABASES")

# printeamos los nombres de las tablas
for i in mycursor:
    print(i)

# cerramos comunicación y conexión con la base de datos
mycursor.close()
mydb.close()

('creacion_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('nba-data',)
('northwind',)
('northwindpp',)
('performance_schema',)
('proyecto_equipo6',)
('sakila',)
('spotify',)
('sys',)
('tienda',)
('tienda_zapatillas',)
('tienda_zapatillaspp',)
('world',)

2. Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [9]:
# conexión con el servidor
mydb = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1', 
                              database = 'northwind')

# comunicación con el servidor
mycursor = mydb.cursor()

# ejecutamos la query para ver las tablas de la base de datos
mycursor.execute("SHOW TABLES")

# guardamos el resultado en una lista, mycursor devuelve tuplas
lista_tablas_northwind = list(mycursor)

# printeamos los nombres de las tablas
print(lista_tablas_northwind)

# cerramos comunicación y conexión con la base de datos
mycursor.close()
mydb.close()

[('categories',), ('customer_customer_demo',), ('customer_demographics',), ('customers',), ('employee_territories',), ('employees',), ('order_details',), ('orders',), ('products',), ('region',), ('shippers',), ('suppliers',), ('tabla_sql',), ('tabla_txt',), ('tabla_xml',), ('territories',)]

3. ¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

In [13]:
# conexión con el servidor
mydb = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1', 
                              database = 'INFORMATION_SCHEMA')

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM COLUMNS WHERE TABLE_NAME = 'categories'")

for column in mycursor:
    print(column)

mycursor.close()
mydb.close()

('def', 'northwind', 'categories', 'category_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, b'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'category_name', 2, None, 'NO', 'varchar', 15, 45, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', b'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'description', 3, None, 'YES', 'longtext', 4294967295, 4294967295, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', b'longtext', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwind', 'categories', 'picture', 4, None, 'YES', 'longblob', 4294967295, 4294967295, None, None, None, None, None, b'longblob', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwindpp', 'categories', 'category_id', 1, None, 'NO', 'int', None, None, 10, 0, None, None, None, b'int', 'PRI', 'auto_increment', 'select,insert,update,references', '', '', None)
('def', 'northwindpp', 'categories', 'category_name', 2, None, 'NO', 'varchar', 15, 45, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', b'varchar(15)', 'MUL', '', 'select,insert,update,references', '', '', None)
('def', 'northwindpp', 'categories', 'description', 3, None, 'YES', 'longtext', 4294967295, 4294967295, None, None, None, 'utf8mb3', 'utf8mb3_general_ci', b'longtext', '', '', 'select,insert,update,references', '', '', None)
('def', 'northwindpp', 'categories', 'picture', 4, None, 'YES', 'longblob', 4294967295, 4294967295, None, None, None, None, None, b'longblob', '', '', 'select,insert,update,references', '', '', None)

4. Hagamos unas queries facilitas:

- Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
- Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
- Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
- Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.
- Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [14]:
mydb = mysql.connector.connect(user = 'root', password = 'AlumnaAdalab', host = '127.0.0.1', 
                              database = 'northwind')

mycursor = mydb.cursor()

query1 = """SELECT order_id, SUM(unit_price * quantity - unit_price * quantity * discount) AS cantidad_gastada
         FROM order_details
         GROUP BY order_id
         ORDER BY SUM(unit_price * quantity - unit_price * quantity * discount) DESC
         LIMIT 1"""

mycursor.execute(query1)

myresult1 = mycursor.fetchall()

print(myresult1)

mycursor.close()
mydb.close()

[(10865, 16387.5)]